= link_to t("actions.show"), bulletin_path(bulletin), class: "btn btn-sm btn-outline-success me-1"
- if bulletin.draft? || bulletin.rejected?
  = link_to t("actions.edit"), edit_bulletin_path(bulletin), class: "btn btn-sm btn-outline-success me-1"
- if bulletin.may_to_moderate?
  = button_to t("actions.to_moderate"), to_moderate_bulletin_path(bulletin), method: :patch, class: "btn btn-sm btn-outline-danger me-1", form_class: "d-inline"
- unless bulletin.archived?
  = button_to t("actions.archive"), archive_bulletin_path(bulletin), method: :patch, class: "btn btn-sm btn-outline-danger me-1", form_class: "d-inline"
