.p-4.bg-light
  = search_form_for q, url: profile_path, method: :get, html: { class: 'row g-3' } do |f|
    .col-md-6
      = f.search_field :title_or_description_cont, class: 'form-control', placeholder: t('search.placeholder')
      small.form-text.text-muted = t('search.hint')

    .col-md-3
      = f.select :state_eq,
                  options_for_select(@aasm_options, params.dig(:q, :state_eq)),
                  { include_blank: t('search.any_state') },
                  class: 'form-select'
      small.form-text.text-muted = t('search.by_state')

    .col-md-2
      .d-flex.gap-2
        = f.submit t('search.find'), class: 'btn btn-primary'
        = link_to t('search.reset'), profile_path, class: 'btn btn-outline-secondary'
    hr
