= link_to t('admin.categories.action_buttons.edit'), edit_admin_category_path(category),
                          class: 'btn btn-outline-primary'
= button_to t('admin.categories.action_buttons.delete'), admin_category_path(category),
  method: :delete,
  class: 'btn btn-outline-danger',
  form_class: 'd-inline'
