.container
  .row
    = render 'web/admin/shared/menu'
    .col-md-9
      .h2.mb-4 Создание новой категории
      = simple_form_for @category, url: admin_categories_path do |f|
          = f.input :name,
            label: 'Название категории',
            placeholder: 'Введите краткое название',
            required: true,
            wrapper_html: { class: 'mb-4' },
            input_html: { rows: 5, class: 'form-control' }

          .d-grid.gap-2.d-md-flex.justify-content-md-start.mt-4.pt-3.border-top
            = f.button :submit, 'Создать категорию', 
              class: 'btn btn-primary px-4'
            = link_to 'Отмена', admin_categories_path, class: 'btn btn-outline-secondary me-2'
