= link_to t('admin.bulletins.action_buttons_moderate.view'), bulletin_path(bulletin),
                    class: 'btn btn-sm btn-outline-primary me-1'
- if bulletin.under_moderation?
  = button_to t('admin.bulletins.action_buttons_moderate.publish'), publish_admin_bulletin_path(bulletin),
                            method: :patch,
                            class: 'btn btn-sm btn-outline-primary me-1',
                            form_class: 'd-inline'
  = button_to t('admin.bulletins.action_buttons_moderate.reject'), reject_admin_bulletin_path(bulletin),
                          method: :patch,
                          class: 'btn btn-sm btn-outline-primary me-1',
                          form_class: 'd-inline'
- unless bulletin.archived?
  = button_to t('admin.bulletins.action_buttons_moderate.archive'), archive_admin_bulletin_path(bulletin,
                        return_to: admin_root_path),
                        method: :patch,
                        class: 'btn btn-sm btn-outline-danger me-1',
                        form_class: 'd-inline'
