.container
  .row
    = render 'web/admin/shared/menu'
    .col-md-9
      .h2.mb-4 Объявления
      
      .card.mb-4.shadow-sm
        .card-body
          = render 'web/admin/bulletins/search_form', q: @q 
          table.table.table-hover.mb-0
            thead
              tr
                th.w-25 Название
                th.w-25 Состояние
                th.w-25 Дата создания
                th.w-25 Действия
            tbody
              - @bulletins.each do |bulletin|
                tr
                  td.align-middle = link_to bulletin.title, bulletin_path(bulletin)
                  td.align-middle = bulletin.state
                  td.align-middle = l(bulletin.created_at, format: :short) 
                  td = render partial: 'web/admin/bulletins/action_buttons', locals: { bulletin: }
            .d-flex.justify-content-center.mt-4

        = render 'layouts/shared/paginator', object: @bulletins 
